auto lo {{ main_net_interface }}
iface lo inet loopback
allow-hotplug {{ main_net_interface }}

iface {{ main_net_interface }} inet static
    address {{ worker_nodes[1].ip }}
    netmask {{ vm_netmask }}
    broadcast {{ worker_nodes[1].ip }}
    gateway {{ host_gateway_ip }}
    post-up ip route add {{ host_gateway_ip }} dev {{ main_net_interface }}
    post-up ip route add default via {{ host_gateway_ip }}
    pre-down ip route del {{ host_gateway_ip }} dev {{ main_net_interface }}
    pre-down ip route del default via {{ host_gateway_ip }}