version: "3.6"
services:
  prometheus:
    image: {{ prometheus_image }}
    container_name: {{ prometheus_container }}
    volumes:
      - {{ prometheus_config }}:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
  grafana:
    image: {{ grafana_image }}
    container_name: {{ grafana_container }}
    volumes:
      - {{ grafana_ini }}:/etc/grafana/grafana.ini
      - {{ grafana_datasource }}:/etc/grafana/provisioning/datasources/datasource.yml
    ports:
      - 3000:3000
    links:
      - prometheus
  node-exporter:
    image: {{ node_exporter_image }}
    container_name: {{ node_exporter_container }}
    restart: unless-stopped
    expose:
      - 9100
  libvirt-exporter:
    image: {{ libvirt_exporter_image }}
    container_name: {{ libvirt_exporter_container }}
    restart: unless-stopped
    volumes:
      - /run/libvirt/libvirt-sock-ro:/var/run/libvirt/libvirt-sock-ro:ro
    ports:
      - 9177:9177
